name: Deploy to Azure Stage
on:
  push:
    branches: ['develop']

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build
        run: |
          docker-compose run \
            -e GITHUB_BRANCH=develop \
            -e GITHUB_REPOSITORY_URL=https://github.com/SwedbankPay/developer.swedbankpay.com \
            portal build \
            --env=production \
            --site-url=https://developer.stage.swedbankpay.com \
            --ignore-url http://restcookbook.com/Basics/loggingin/ \
            --ignore-url https://blogs.oracle.com/java-platform-group/jdk-8-will-use-tls-12-as-default \
            --ignore-url https://zend18.zendesk.com/hc/en-us/articles/219131697-HowTo-Implement-TLS-1-2-Support-with-the-cURL-PHP-Extension-in-Zend-Server

      - name: login
        uses: azure/login@v1.3.0
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_DEV }}

      - name: deploy
        uses: azure/CLI@1.0.4
        with:
          inlineScript: az storage blob upload-batch -s _site -d "\$web" --account-name blobdevportalstage
