name: Githooks

on: [push, pull_request]

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Shellcheck
      uses: bewuethr/shellcheck-action@v2.0.4

  commit-msg:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Valid commit messages
      shell: bash
      run: bash ./.github/scripts/commit-msg-test.sh

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Valid branch names
      shell: bash
      run: |
        git checkout -b feature/dx-123_hello
        bash ./.githooks/pre-commit

    - name: Invalid branch names
      shell: bash
      run: |
        git checkout -b feature/hello
        bash ./.githooks/pre-commit
