name: Misspell

on: [push, pull_request]

jobs:
  misspell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haya14busa/action-cond@v1
        id: reporter
        with:
          cond: ${{ github.event_name == 'pull_request' }}
          if_true: github-pr-review
          if_false: github-check
      - uses: reviewdog/action-misspell@v1
        with:
          reporter: ${{ steps.reporter.outputs.value }}
          ignore: cancelled
